<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yellowsoft.homeworkers">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logohw"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".PartTimeWorkersActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".HomeWorkersDetailPage" android:screenOrientation="portrait"></activity>
        <activity android:name=".AvailableWorkersActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".HomeWorkersActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".AvailableWorkersDetailPage" android:screenOrientation="portrait"></activity>
        <activity android:name=".ForgotPasswordActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".AddAvailableWorkersActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".RegisterActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".EditProfilePage" android:screenOrientation="portrait"></activity>
        <activity android:name=".AccountPage" android:screenOrientation="portrait"></activity>
        <activity android:name=".AboutPage" android:screenOrientation="portrait"></activity>
        <activity android:name=".ExampleActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".PaymentPage" android:screenOrientation="portrait"></activity>
        <activity android:name=".UpdatePartTimePayment" android:screenOrientation="portrait"></activity>
        <activity android:name=".ContactusActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".SettingsActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".RequestHomeWorkersActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".HomeWorkerRequestsList" android:screenOrientation="portrait"></activity>
        <activity android:name=".CorporateRequestActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".EmployeeRequestActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".CorporateNextActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".CorporatethreeActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".StepTwoActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".StepThreeActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".StepFourActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".CorporateListActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".EmployeeRequestListActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".AvailableWorkersListActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".PartTimeWorkersListActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>